<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
        tools:overrideLibrary suppresses the minSdk check when compose-ui-test-manifest
        (minSdk=1) is merged into the unit-test APK alongside navigation (minSdk=21).
        Runtime safety is guaranteed by defaultConfig.minSdk = 26.
    -->
    <uses-sdk tools:overrideLibrary="androidx.navigation.common,androidx.navigation,androidx.navigation.compose,androidx.navigation.ktx,androidx.navigation.common.ktx"/>

    <application>
        <activity
            android:name=".ui.PreviewBrowserActivity"
            android:exported="false" />
    </application>
</manifest>
